<section>
    <h1>This is the profile page of {{ person.firstname }} {{ person.lastname }}</h1>
    <p>He is {{ age }} years old.</p>
    <ul>
        <li>Favorite movie: {{ favorite.movie }}</li>
        <li>Favorite series: {{ favorite.series }}</li>
    </ul>
</section>