<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../../partials/head'); %>
	</head>
	<body>
		<header>
			<%- include('../../partials/header'); %>
		</header>

		<main>
			<section>
                <h4>Username: <%= user.username %></h2>
                <h4>Email address: <%= user.email %></h2>
                <% if(user._id == authUser) { %>
                    <p>Hij doet het</p>
                <% } %>
            </section>
		</main>

		<footer><%- include('../../partials/footer'); %></footer>

		<%- include('../../partials/scripts'); %>
	</body>
</html>
