<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<header><%- include('../partials/header'); %></header>

		<main>
			<section>
				<h1>Cinemeet</h1>
				<a href="/<%= user.username %>">Look at your profile</a>
			</section>
		</main>

		<footer><%- include('../partials/footer'); %></footer>

		<%- include('../partials/scripts'); %>
	</body>
</html>
